<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Gerenciamento de Associação Local</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/bootstrap-datepicker")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("SGAL", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>
    <div class="container body-content" style="margin-top: 25px; min-height: 500px;">
        <div class="col-md-2" style="text-align: center; float: left;">
            @*<h5 class="text-muted">Favoritos</h5>
            <ul class="nav nav-pills nav-stacked">
                <li>@Html.ActionLink("Adicionar Adepto", "Criar", "Adepto")</li>
                <li>@Html.ActionLink("Adicionar Cota de Revistas", "Criar", "Adepto")</li>
            </ul>
            <br />*@
            <h5 class="text-muted">Cadastros</h5>
            <ul class="nav nav-pills nav-stacked">
                <li>@Html.ActionLink("Federação", "Index", "Federacao")</li>
                <li>@Html.ActionLink("Regional", "Index", "Regional")</li>
                <li>@Html.ActionLink("Associação Local", "Index", "Associacao")</li>
            </ul>
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
    <hr />
    <footer style="text-align: center">
        <p>&copy; @DateTime.Now.Year</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/bootstrap-datepicker")
    @RenderSection("scripts", required: false)
    <script>
        $(document).ready(function () {
            //Coloca a máscara e coloca o datepicker nos campos com a classe DatePicker
            $(".DatePicker").datepicker({
                format: "dd/mm/yyyy",
                clearBtn: true,
                language: "pt-BR",
                multidate: false,
                autoclose: true,
                todayHighlight: true
            });
        });
    </script>
</body>
</html>
