@model IEnumerable<SGAL.Model.Logic.SGAL.associacao>
@{
    ViewBag.Title = "Associação";
}

<div class="page-header">
    <h2> Associação <small>Tela Inicial</small></h2>
</div>

<div class="row">
    <div class="col-md-12">
        <a class="btn btn-primary" href="@Url.Action("Criar", "Associacao")"><i class="glyphicon glyphicon-check"></i> Cadastrar</a>
    </div>
</div>

<div class="row" style="margin-top: 20px">
    <table id="TabelaTeste" data-toggle="table" data-url="@Url.Action("Listagem", "Associacao")"
           data-search="true" data-search-time-out="200" data-show-columns="true"
           data-show-refresh="true" data-show-toggle="true"
           data-show-pagination-switch="true">
        <thead>
            <tr>
                <th data-field="descricao" data-sortable="true">
                    @Html.DisplayNameFor(model => model.descricao)
                </th>
                <th data-field="datainclusao" data-sortable="true">
                    @Html.DisplayNameFor(model => model.datainclusao)
                </th>
                <th data-field="dataalteracao" data-sortable="true">
                    @Html.DisplayNameFor(model => model.dataalteracao)
                </th>
                <th data-field="botoes" data-searchable="false" data-tableexport-display="none">
                    Ações principais
                </th>
            </tr>
        </thead>
    </table>
</div>

<style>
    
</style>